*{
    margin:0;
    padding:0;
     font-family: sans-serif;
    
  }
  body{
    margin: 0;
    padding: 0;
    
  }
  #header  {
     background-color:rgb(77, 74, 74);
     box-sizing: border-box;
     position:fixed;
     top:0;
     width: 100%;
     height:20px;
     border-top: 1px solid black;
     border-bottom:1px solid black;
     margin-bottom: 50px;
     
  }
    nav {
    width:100%;
    margin: 0;
    padding: 0;
   /* border-top: 1px solid black;
    border-bottom:1px solid black;
    position:sticky;
    top:20px;*/
    margin-bottom: 50px;
    background-color:rgb(77, 74, 74);
  
    
    
  }
  nav ul  {
    display:flex;
    margin:0;
    padding: 0 60px;
  }
  nav li {
    padding: 0;
    list-style:none;
    margin:0;
  }
  nav li a{
  color:white;
    text-decoration:none;
    padding: 0 20px;
    line-height: 30px;
    display: block;
  }
  nav li a.active{
    background-color:brown
  }
  nav li a:hover{
    background-color: brown;

  }
  #container  {
    width:100%;
    height:600px;
    text-align:center;
   background-image:url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
    color:rgb(238, 186, 186);
    background-size:cover;
    position:relative;
   margin: 0;
   padding: 0;
    
    }
  #container .mytunes  {
    margin:0;
    padding: 0;
    top:100px;
    position:relative;
     
  }
  #container .mytunes h1 {
    font-size:75px;
    margin:30px;
    
  }
  #container .mytunes h3  {
    font-size:35px;
    margin:30px 30px;
  }
  .discription  {
    color:white;
    text-align:center;
    margin:0 auto;
    height: 800px;
    background-color:rgb(77, 74, 74);
  }
  .discription h1  {
    font-size:60px;

  }
  .discription h3  {
    margin:30px;
    font-size:30px;
    
  }
  .discription p:first-of-type {
    font-size:20px;
    margin:20px auto;
    margin-bottom:30px;
    color:white;
  }
  .discription a  {
    color:white;
    text-decoration:none;
    padding:12px;
    background-color:red;
    
  }
  .discription   a:hover  {
    background-color:lightpink;
    border:1px solid red;
    
  }
  .discription img {
    width:500px;
    height:400px;
    margin-top:0;
    padding:0; 
  }
  .discription p:last-of-type{
    margin-top:40px;
    margin-bottom:0;
    font-size:15px;
    padding-bottom:0;
  }
  .main  {
    text-align:center;
    width:100%;
    height:100%;
    
  }
  .main h2 {
    font-weight:bold;
    font-size:50px;
    margin:30px 30px;
  }
  .main p {
    font-size:20px;
    margin:30px 30px;
    
  }
  .main a {
    color:white;
    background-color:blue;
    padding:15px;
    text-decoration:none;
  }
  .main a:hover  {
    background-color:lightblue;
    border:1px solid blue;
  }
  .main img {
      width:600px;
      height:300px;
      margin:10px 30px;
  }
  .main .photo {
      background-image: url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXVzaWMlMjB2aWRlb3MlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
      background-size: cover;
      background-position: center;
      width:100%;
      height:800px;
      position:relative;
    
  }
  .main .photo div {
      position: relative;
      top:200px;
      text-align: center;
      margin:10px 50px;
  }
  .main .photo h2 {
      color:white;
      font-size:34px;
      position:relative;
     text-align: center;

  }
  .main .photo  p{
      color:white;
      word-spacing: 5px;
  }
  .main img:last-of-type{
      float:left;
      width:45%;
      margin:50px  10px 20px 10px;
  }
  .main .align {
      margin-top:50px ;
      margin-left:10px;
      text-align: justify;

  }
   .main .align h3{
       margin:0 ;
       padding:0;  
  }
  .main .align p {
      margin-bottom:0;
      padding: 0;
      font-size: medium;
  }
  .main .align p:last-of-type {
      font-size:medium;
      margin-bottom: 0;
  }
  .main .align a:last-of-type{
      text-decoration: none;
      background-color: white;
      color: rgb(122, 122, 253);
      padding:0;
      font-size: small;
      margin:10px;
    
  }
  .main .align a:last-of-type:hover{
      background-color: violet;
  }

footer .main{
  width:100%;
  height:300px;
  color:rgb(241, 237, 233);
  background-color: rgb(54, 52, 52);
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap:80px;
  text-align: left;

}
footer .main .list h1 {
  margin-top:30px;
  margin-left: 60px;
  margin-right: 60px;
  

}
footer .main .list ul{
  color: rgb(131, 129, 127); 
  margin-left:50px;
  margin-right: 50px;
  list-style: none; 
  
}

footer .main .list li{
 

}
footer .main .list a{
  display: block;
  background-color: rgb(54, 52, 52);
  color:rgb(250, 244, 239);
  border: rgb(131, 129, 127);
  margin:5px;
  padding:0px;
}

